<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Inventory</title>
</head>

<body>
    <header>
        <h1>Book Inventory</h1>
        <nav>
            <ul>
                <li><a href="./genres">Genres</a></li>
                <li><a href="./authors">Authors</a></li>
                <li><a href="./">Books</a></li>
                <li><a href="./new">Add</a></li>
            </ul>
        </nav>
    </header>
    <h1>Authors</h1>
    <table>
        <th>Author</th>
        <th>Remove</th>
        <% authors.forEach((author)=> { %>
            <tr>
                <td>
                    <a href="./authors/<%=author.id%>">
                        <%=author.first_name%>
                            <%=author.last_name%>
                    </a>
                </td>
                <td>
                    <form method="POST" action="./removeauthor/<%=author.id%>">
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
            <% }) %>
    </table>
    
            <footer>
                <p>Made by </p><a href="https://github.com/jdogcodey">JdogCodey</a>
                <p>following </p><a href="https://www.theodinproject.com/">The Odin Project </a><a
                    href="https://www.theodinproject.com/lessons/node-path-nodejs-inventory-application">Inventory
                    Application</a>
            </footer>
</body>

</html>