<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Inventory</title>
</head>
<body>
    <header>
        <h1>Book Inventory</h1>
        <nav>
            <ul>
                <li><a href="./genres">Genres</a></li>
                <li><a href="./authors">Authors</a></li>
                <li><a href="./index">Books</a></li>
                <li><a href="./new">Add</a></li>
            </ul>
        </nav>
    </header>
    <h1>Add Book:</h1>
    <form method="POST" action="/add-book">
        <ul>
            <li>
                <label for="title">Title:</label>
                <input type="text" id="title" name="title" />
                <label for="genre">Genre:</label>
                <select id="genre" name="genre">
                    <%allGenres.forEach((genre) => { %>
                        <option value="<%=genre.id%>"><%=genre.name%></option>
                    <%})%>
                </select>
                <label for="price">Price:</label>
                <input type="number" id="price" name="price" />
                <label for="pages">No. of Pages</label>
                <input type="number" id="pages" name="pages" />
                <label for="author">Author:</label>
                <select id="author" name="author">
                    <%allAuthors.forEach((author) => {%>
                        <option value="<%=author.id%>"><%=author.first_name + ' ' + author.last_name%></option>
                    <%})%>
                </select>
                <input type="submit" value="Add book" />
            </li>
        </ul>
    </form>
    <h1>Add Author:</h1>
    <form method="POST" action="/add-author">
        <ul>
            <li>
                <label for="first">First Name:</label>
                <input type="text" id="first" name="first" />
                <label for="last">Last Name:</label>
                <input type="text" id="last" name="last" />
                <input type="submit" value="Add Author" />
            </li>
        </ul>
    </form>
    <h1>Add Genre:</h1>
    <form method="POST" action="/add-genre">
        <ul>
            <li>
                <label for="genre">Genre:</label>
                <input type="text" id="genre" name="genre" />
                <input type="submit" value="Add Genre" />
            </li>
        </ul>
    </form>
    <footer>
        <p>Made by </p><a href="https://github.com/jdogcodey">JdogCodey</a>
        <p>following </p><a href="https://www.theodinproject.com/">The Odin Project </a><a
            href="https://www.theodinproject.com/lessons/node-path-nodejs-inventory-application">Inventory Application</a>
    </footer>
</body>
</html>